*.tcLogs
*.tcLS
*.tcCfgExtender
*.tlb
**/Log
*.log
*.bak
*.ini
**/Visualizer
*.csv
*.properties
**build/
*.classpath
*.project
*.settings
*.chromedriver.log
**/bin
**out/
**test-output/
.gradle/
**driver
build/
target/
bin/
temp/
.idea/
*.iml
*.classpath
*.project
**node_modules/
*.DS_Store
**.DS_Store/
**.vagrant/
.vaultPass
*.retry
